<div class="login-wrapper">
    <h1>Fazer login:</h1>
    <form class="row g-3" [formGroup]="loginForm">
        <div class="col-md-12">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class="form-control" placeholder="Digite seu email" formControlName="email" id="email">
        </div>
        <div class="col-md-12">
            <label for="senha" class="form-label">Senha:</label>
            <input type="password" min="0" class="form-control" placeholder="Digite uma senha" formControlName="senha"
            id="senha">
        </div>
        <div class="col-12">
            <button type="submit"
            [disabled]="!loginForm.valid"
            (click)="onLogin()"
            class="btn btn-primary">Fazer Login</button>
          </div>
    </form>
</div>

