<div class="product">
    <div class="product-img">
        <img src="{{ (produto$ | async )?.uriFoto }}" alt="">
    </div>
    <div class="product-information">
        <h1>{{ (produto$ | async )?.nome }}</h1>
        <div class="details">
            <h2>Descrição:</h2>
            <p style="font-size: 15px;">{{ (produto$ | async )?.descricao }}</p>
        </div>
        <h2 style="font-size: 25px;">R${{ (produto$ | async)?.preco | number:'1.2-2'}}</h2>
        <div class="buttons">
            <button class="add">Adicionar ao Carrinho</button>
            <button class="save">Guardar para mais Tarde</button>
        </div>
    </div>
</div>
