<div class="search">
  <div class="search-menu">
    <h1>Resultados da busca por: {{ this.params.get('nome')?.value }}</h1>
    <form [formGroup]="params" style="margin: 10px 0px;">
      <span>Filtrar por ordem:</span>
      <select formControlName="order" style="margin-left: 10px;" (change)="selectOrder()">
        <option value="OrderByNameASC">A - Z</option>
        <option value="OrderByNameDESC">Z - A</option>
        <option value="OrderByPriceDESC">Maior Preço</option>
        <option value="OrderByPriceASC">Menor Preço</option>
        <option value="OrderByTopSaleDESC">Mais Vendidos</option>
        <option value="OrderByReleaseDateDESC">Mais Recentes</option>
      </select>
    </form>
  </div>
  <div class="results-wrapper">
    <div class="results" *ngFor="let produto of (productsPage$ | async)?.items" (click)="showDetails( produto.id )">
      <div class="image">
        <img src="{{ produto.uriFoto }}" alt="Avatar" style="width:100%">
      </div>
      <div class="container">
        <h3>{{ produto.nome }}</h3>
        <h4><b>R${{ produto.preco | number:'1.2-2' }}</b></h4>
      </div>
    </div>
  </div>
  <div style="display: flex; justify-content: center;" *ngIf="(productsPage$ | async)!.totalItems > 20">
    <form [formGroup]="params">
      <select formControlName="page" (change)="onChangePage()">
        <option *ngFor="let page of [].constructor((productsPage$ | async)?.totalPages); let i = index" [value]="i+1">
          Página: {{ i+1 }}</option>
      </select>
    </form>
  </div>
</div>