<h1>Criar uma conta:</h1>
<form class="row g-3">
    <div class="col-6">
        <label for="nome" class="form-label">Nome:</label>
        <input type="text" class="form-control" placeholder="Digite seu nome" formControlName="nome" id="nome">
    </div>
    <div class="col-6">
        <label for="sobrenome" class="form-label">Sobrenome:</label>
        <input type="text" class="form-control" placeholder="Digite seu Sobrenome" formControlName="sobrenome"
            id="sobrenome">
    </div>
    <div class="col-md-6">
        <label for="cpf" class="form-label">CPF:</label>
        <input type="text" class="form-control" placeholder="Digite seu CPF" formControlName="cpf" id="cpf">
    </div>
    <div class="col-md-6">
        <label for="dataNascimento" class="form-label">Data de nascimento:</label>
        <input type="date" class="form-control" placeholder="Digite uma senha" formControlName="dataNascimento"
        id="dataNascimento">
    </div>
    <div class="col-md-6">
        <label for="email" class="form-label">Email:</label>
        <input type="email" class="form-control" placeholder="Digite seu email" formControlName="email" id="email">
    </div>
    <div class="col-md-6">
        <label for="senha" class="form-label">Senha:</label>
        <input type="password" min="0" class="form-control" placeholder="Digite uma senha" formControlName="senha"
        id="senha">
    </div>
    <div class="col-12">
        <button type="submit"
        
        class="btn btn-primary">Registar Usuário</button>
      </div>
</form>