<header>
    <div class="header-features">
        <a routerLink="/" class="site-logo"><img src="../../assets/icones-svg/logo.svg" class="site-logo"></a>
        <div class="input-wrapper">
            <form action="">
                <input type="text" placeholder="Busque pelo produto que deseja!" class="area-pesquisa">
                <button class="botao-pesquisa"><img src="../../assets/icones-svg/lupa.svg" alt="Pesquisar" class="icones"></button>
            </form>
        </div>
        <a routerLink="/my-account"><img src="../../assets/icones-svg/silhueta.svg" alt="Perfil" class="icones"></a>
        <img src="../../assets/icones-svg/carrinho_de_compras.svg" alt="Carrinho" class="icones">
    </div>
    <nav>
        <ul class="principais-editoras">
            <li class="item-principais-editoras"><a href="">Marvel</a></li>
            <li class="item-principais-editoras"><a href="">DC Comics</a></li>
            <li class="item-principais-editoras"><a href="">Panini</a></li>
            <li class="item-principais-editoras"><a href="">JBC</a></li>
            <li class="item-principais-editoras"><a href="">NewPop</a></li>
        </ul>
    </nav>
</header>



