header {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    background-color: dimgray;
}

h1 {
    margin-right: 20px;
    place-self: center;
}

.dropdown {
    align-self: center;
}

