<header>
    <div class="header-features">
        <a [routerLink]="['']" class="site-logo"><img src="../../assets/icones-svg/logo.svg" class="site-logo"></a>
        <div class="input-wrapper">
            <form action="">
                <input 
                type="text" 
                #searchInput
                placeholder="Busque pelo produto que deseja!" class="area-pesquisa">
                <button 
                (click)="submitSearch(searchInput.value)"
                class="botao-pesquisa">
                    <img src="../../assets/icones-svg/lupa.svg" alt="Pesquisar" class="icones">
                </button>
            </form>
        </div>
        <a class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="../../assets/icones-svg/silhueta.svg" alt="Perfil" class="icones">
        </a>
        <ul class="dropdown-menu">
            <li *ngIf="isLoggedIn()"><a class="dropdown-item" href="#">Meus Dados Pessoais</a></li>
            <li *ngIf="isLoggedIn()"><a class="dropdown-item" href="#">Meus Pedidos</a></li>
            <li *ngIf="isLoggedIn()"><a class="dropdown-item" href="#">Meus Cartões</a></li>
            <li *ngIf="isLoggedIn()"><a class="dropdown-item" href="#">Lista de Desejos</a></li>
            <li *ngIf="isLoggedIn()"><a class="dropdown-item" (click)="logout()">Sair da Conta</a></li>
            <li *ngIf="!isLoggedIn()"><a class="dropdown-item" [routerLink]="['/login']">Entrar</a></li>
            <li *ngIf="!isLoggedIn()"><a class="dropdown-item" [routerLink]="['/new-account']">Criar Conta</a></li>
        </ul>

        <img src="../../assets/icones-svg/carrinho_de_compras.svg" alt="Carrinho" class="icones">
    </div>
    <nav>
        <ul class="principais-editoras">
            <li class="item-principais-editoras"><a href="">Marvel</a></li>
            <li class="item-principais-editoras"><a href="">DC Comics</a></li>
            <li class="item-principais-editoras"><a href="">Panini</a></li>
            <li class="item-principais-editoras"><a href="">JBC</a></li>
            <li class="item-principais-editoras"><a href="">NewPop</a></li>
        </ul>
    </nav>
</header>



