<div class="card">
    <div class="card-header">
      <div class="float-left">
        <h4>Categorias</h4>
        <p>Itens encontrados: {{ (categorias$ | async)?.length }}</p>
      </div>
      <div class="float-start">
        <button type="button" class="btn btn-primary" [routerLink]="['novo']">Nova Categoria</button>
        {{ ' ' }}
        <button type="button" class="btn btn-secondary">Atualizar</button>
        <form [formGroup]="orderParam" (ngSubmit)="submitParams()">
          <span>Filtrar por ordem:</span>
          <label>
            <input type="radio" formControlName="order" name="order" value="asc" (ngModelChange)="submitParams()"> Ascendente
          </label>
          <label>
            <input  type="radio" formControlName="order" name="order" value="dsc" (ngModelChange)="submitParams()"> Decrescente
          </label>
          <label>
            <input  type="radio" formControlName="order" name="order" value="" (ngModelChange)="submitParams()" checked="checked"> Por Id
          </label>
        </form>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Categoria</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let categoria of categorias$ | async">
            <td>{{ categoria.id }}</td>
            <td>{{ categoria.nome }}</td>
            <td>
              <span class="float-end">
                <button class="btn btn-outline-warning mb-1 btn-sm">
                  Atualizar
                </button>
                {{ ' ' }}
                <button class="btn btn-outline-danger mb-1 btn-sm">
                  Remover
                </button>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="trocar-pagina" *ngIf="(categorias$ | async)?.length == 20">
        <button id="voltar">Voltar</button>
        <button id="proximo">Próxima</button>
      </div>
    </div>
  </div>