<div class="myAccount">
    <h1>Minha Conta</h1>
    <a href="">
        <div class="myAccountCards">
            <img src="../../assets/icones-svg/silhueta.svg" alt="Meu Perfil">
            <h2>Meus Dados Pessoais</h2>
        </div>
    </a>
    <a href="">
        <div class="myAccountCards">
            <img src="../../assets/icones-svg/meus-pedidos.svg" alt="Mues Pedidos">
            <h2>Meus Pedidos</h2>
        </div>
    </a>
    <a href="">
        <div class="myAccountCards">
            <img src="../../assets/icones-svg/endereço.svg" alt="Meus Endereços">
            <h2>Meus Endereços</h2>
        </div>
    </a>
    <a href="">
        <div class="myAccountCards">
            <img src="../../assets/icones-svg/meus-cartões.svg" alt="Meus Cartões">
            <h2>Meus Cartões</h2>
        </div>
    </a>
    <a href="">
        <div class="myAccountCards">
            <img src="../../assets/icones-svg/lista-de-desejos.svg" alt="Lista de Desejos">
            <h2>Lista de Desejos</h2>
        </div>
    </a>
</div>

